{% extends 'base.html.twig' %}

{% block title 'Mon Agence' %} 

{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Agence FOUGERE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur vitae dolorem pariatur aspernatur dolor doloribus libero sapiente amet nobis, soluta ab adipisci deleniti perspiciatis optio quisquam eum similique delectus?</p>
    </div>
</div>

<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">

        {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug:property.slug})}}">{{ property.title }}</a>
                        </h5>
                        <p class="card-texte">{{ property.city }} ({{ property.postalCode }})</p>
                        {# <div class="text-primary">{{ property.price | number_format(0, '', ' ')}} €</div> #}
                        <div class="text-primary" style="font-weight:bold; font-size:2rem;">{{ property.formattedPrice}} €</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
